:root {
    --bg: rgb(202, 223, 63) ;
    --text: hwb(0 12% 88%);
    --muted: #6b6b6b;
    --brand: #216869;
    --brand-2: #49a078;
    --card: #ffffff;
    --border: #e9e3db;
}

body {
    margin: 0;
    font-family: "Rubik", sans-serif, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
    color: var(--text);
    background: var(--bg);
    line-height: 1.6;
}

.site-header{
    background-color: #faf7f2;
    width: 100%; /*this is important so that the display work as expected*/
    position: fixed;
    top: 0;
    z-index: 10;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.site-header-item{
    text-decoration: none;
    color: #49a078;
    font-weight:800;
    margin-top: 5px;
    padding-bottom: 5px;
}

.site-header-item:nth-child(1) {
    margin-left: 10%;
    margin-right: 35%;
}
.site-header-item:nth-child(6) {
    margin-right: 10%;
}
.query{
    
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.hero {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.hero input {
    width: 600px;
    height: 60px;
    border-radius: 5px;
}

#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
#menu h1{ 
    margin-top: 35px;
    width: 960px;
    text-align: left;
    margin-bottom: -35px;
}
#menu .boxes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
 #menu .box1 , #menu .box2 , #menu .box3{
    background-color: #ffffff;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: flex-start;
    padding-left: 10px ;
    border: 2px solid #e9e3db;
    border-radius: 18px;
    width: 300px;
    height: 450px;
 }
 .type{
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 1000;
 }
 .item{
    font-weight: bold;
    margin-bottom: 0px;
 }
 .components{
    margin-top: 0px;
    color: #6b6b6b;
 }
 #menu .divider {
    border-bottom: 2px dashed #e9e3db;
    width: 90%;
 }
 
 .first-item , .second-item , .third-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5px;
 }
 .tax-note{
    color: #6b6b6b;
    width: 960px;
    text-align: left;
    margin-bottom: 35px;
 }
 
 .footer-divider{
    border-bottom: 2px solid #e9e3db;
    width: 100%;
 }
 .site-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
 }
 .site-footer .info{
    color: #6b6b6b;
 }
 .site-footer .green-info{
    color:#49a078;
 }

.nav-hover { transition: 0.3s;}
.nav-hover:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}